{% extends "base.html" %}
{% block content %}
<style>
td {vertical-align: text-top;}    
</style>
<div style="margin:5px 40px 10px 40px; width:800px">
<h1>Как пользоваться БД</h1>
    <div align="right">
        <a href=/pubs_template/>Образец списка статей</a>
    </div>  
<h2>Начало работы с системой</h2>
<ol>
<li>Любой посетитель может просматривать список сотрудников на главной странице и карточки отдельных сотруднков, находящиеся по ссылке <font color=blue>«См.»</font> в последней колонке списка сотрудников.
<li>Если посетитель является сотрудником и авторизовался в системе, то он может редактировать свою карточку, перейдя к странице редактирования по ссылке <font color=blue>«Ред.»</font> в последней колонке списка сотрудников.
<li>Если посетитель является сотрудником с правами доступа администратора, то он после авторизации в системе он(а) может редактировать по ссылке <font color=blue>«Ред.»</font> карточку любого сотрудника, а также редактировать формулу для подсчёта ПРНД по ссылке <font color=blue>«ПЕРЕЧЕНЬ КОЛИЧЕСТВЕННЫХ ПОКАЗАТЕЛЕЙ РЕЗУЛЬТАТИВНОСТИ ТРУДА НАУЧНЫХ РАБОТНИКОВ»</font>, находящейся под списком сотрудников на гл. странице сайта БД.
</ol>
<h2>Редактирование и просмотр карточки сотрудника</h2>
<ol>
<li>Перейдя по ссылке <font color=blue>Ред.</font> на страницу редактирования карточки сотрудника, можно редактировать личные данные, загружать список статей по <a href="/templates/">установленному образцу</a> и вводить параметры для подсчёта ПРНД, который считается автоматически согласно установленной администратором формуле.
<li>Страница карточки сотрудника доступна с главной страницы по ссылке <font color=blue>См.</font> в последней колонке и ряду с именем сотрудника в таблице списка сотрудников или со страницы редактирования карточки сотрудника по ссылке  <font color=blue>Посмотреть данные</font>. 
На странице карточки сотрудника можно посмотреть также список его публикаций или скачать публикации отдельным файлом Excel.
</ol>
<h2>Загрузка файла Excel со списком статей</h2>
<ol>
<li>Файл с публикациями должен быть создан в программе MS Excel / LibreOffice / OpenOffice в формате xls по <a href=/pubs_template/>образцу</a>.<br>
<u>Внимание</u>: наименования колонок должны быть именно такими, как в образце. 
<li>На страничке редактирования своей карточки в разделе «Публикации» выбрать Excel файл публикаций со своего локального диска, нажать кнопку «Submit». Публикации занесутся в базу данных и их можно будет посмотреть по ссылке «Публикации» как на странице редактирования, так и в разделе просмотра карточки сотрудника. 
</ol>
<h2>Подсчёт ПРНД</h2>
<ol>
<li>Форма со списком параметров для подсчёта ПРНД вызывается по ссылке <font color=blue>Пересчитать</font> в разделе «ПРНД» на странице редактирования карточки сотрудника.
<li>Значения для каждого параметра вводится в соответствующем столбце формы, после чего внизу нажимается кнопка «Submit». ПРНД пересчитывается автоматически.
</ol>
<h2>Переопределение формулы для подсчёта ПРНД</h2>
<ol>
<li>Коэффициенты для подсчёта ПРНД могут меняться администрацией на <a href=/on_rating/>этой</a> странице, доступной с главной страницы системы по ссылке <font color=blue>«Перечень количественных показателей результативности труда научных работников»</font>
<li>Excel файл показателей для подсчёта ПРНД могут редактироваться администрацией по имеющемуся образцу Excel файла.<br>
<u>Внимание</u>: наименования колонок должны быть именно такими, как в образце. 
<li>Изменение формулы для подсчёта ПРНД вместе с изменениями наименований параметров должно быть согласовано с наименованиями параментров в Excel файле показателей для подсчёта ПРНД.
<li>После выбора файла с показателями для подсчёта ПРНД и/или изменения формулы для подсчёта ПРНД надо нажать кнопку «Submit».
</ol>
</ol>
</div>    
{% endblock %}