{% extends "base.html" %}
{% block content %}
<style>
td {vertical-align: text-top;}    
</style>
<div style="margin:5px 40px 10px 40px; width:800px">
<h1>Как пользоваться БД</h1>
    <div align="right">
        <a href=/templates/>Образец списка статей</a>
    </div>  
<h2>Начало работы с системой</h2>
<ol>
<li>Любой посетитель может просматривать список сотрудников на главной странице и карточки отдельных сотруднков, находящиеся по ссылке <font color=blue>«См.»</font> в последней колонке списка сотрудников.
<li>Если посетитель является сотрудником и авторизовался в системе, то он может редактировать свою карточку, перейдя к странице редактирования по ссылке <font color=blue>«Ред.»</font> в последней колонке списка сотрудников.
<li>Если посетитель является сотрудником с правами доступа администратора, то он после авторизации в системе он(а) может редактировать по ссылке <font color=blue>«Ред.»</font> карточку любого сотрудника, а также редактировать формулу для подсчёта ПРНД по ссылке <font color=blue>«ПЕРЕЧЕНЬ КОЛИЧЕСТВЕННЫХ ПОКАЗАТЕЛЕЙ РЕЗУЛЬТАТИВНОСТИ ТРУДА НАУЧНЫХ РАБОТНИКОВ»</font>, находящейся под списком сотрудников на гл. странице сайта БД.
</ol>
<h2>Редактирование и просмотр карточки сотрудника</h2>
<ol>
<li>Перейдя по ссылке <font color=blue>«Ред.»</font> на страницу редактирования карточки сотрудника, можно редактировать личные данные, загружать список статей по <a href="/templates/">установленному образцу</a> и вводить параметры для подсчёта ПРНД, который считается автоматически согласно установленной администратором формуле.
</ol>
<h2>Загрузка файла Excel со списком статей</h2>
<ol>
</ol>
<h2>Подсчёт ПРНД</h2>
<ol>
</ol>
<h2>Переопределение формулы для подсчёта ПРНД</h2>
<ol>
</ol>
</ol>
</div>    
{% endblock %}