<!doctype html>
	<title>HPPI</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hppi.css') }}">	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hppi-dataTables.css') }}">		
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>	
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>	
    
<html>
<body style="background-color: white;">
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
{% block body %}{% endblock %}
</body>
</html>