<div style="display:none; position:absolute; right:100px;z-index:500;margin:5px;padding:5px;background:#fff;height:140px;" id="lf" class="boxed_sh">
    <div style="display:inline;float:right; margin:-2px 0px 0 0px;">
    	<a id = "ogif" onClick = "hideDiv('lf');" style="cursor: pointer; border:0px; text-decoration: none;" >
    		<div style="color:#3F4659; font-size: 18px; margin-top:-2px" >&times;</div>
    	</a>
    </div>
	<div style="width:320px;" align="centre">
	<form action="/login/" method="POST" name="form">
{{ form.hidden_tag() }}
{{ form.from_url }}
		<div>
<!-- 	        <input type=hidden name=url value="{{ request.path }}"> -->
	        <div class="form-group" style="height:55px"><br>
	            <div style="display:inline;width:60px;float:left"><label class="control-label" for="email"></label>Email:</div>
	            <div style="display:inline;float:right; padding-right:15px">
	            {{ form.email }}
	            </div>

	        </div>
	        <div class="form-group" style="height:35px">
	        	<div style="display:inline;width:60px;float:left"><label class="control-label" for="password"></label>Password:</div> 
	        	<div style="display:inline;float:right; padding-right:15px">
	        	{{ form.password }}
	        	</div>
	        </div>
	        <button class="btn" style="text-align: right" type="submit">Submit</button>
	    </div>
	</form>
    </div>
</div>
