{% extends "base.html" %}
{% block title %}Rating{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}    
{% include 'loginform.html' %}
<style>
td {vertical-align: text-top;}    
</style>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
	var nav = 0 ? 'r<"boxed"t>r' : 'ifr<"top"><"boxed"t> lpr<"clear">';
	var aTable = $('table.display').dataTable( {
	    "bRetrieve": true,
	    "bProcessing": true,
	    "bDestroy": true,
	    "sDom":  nav,
	    "fnRowCallback": function(nRow, aData, iDisplayIndex){
                $("td:first", nRow).html(iDisplayIndex +1);
               return nRow;
            },
	    "aoColumnDefs": [
	      { "asSorting": [ "desc", "asc" ], "aTargets": [ 0 ] },
	      { "asSorting": [ "desc", "asc" ], "aTargets": [ 1 ] },
	      { "asSorting": [ "desc", "asc" ], "aTargets": [ 2 ] },
	      { "asSorting": [ "desc", "asc" ], "aTargets": [ 3 ] }
	      ],
	    "columnDefs": [ {
            "orderable": true,
        } ],
	    "aaSorting": [[0,'asc']],
	    "iDisplayLength": 20,
	    "aLengthMenu": [[20, 40, -1],[20, 40, 100]]
		} );
    } );
</script>
<div style="margin:5px 40px 10px 40px;">
    <h2>Перечень количественных показателей результативности труда научных работников</h2>
    <form action="/on_rating/" method="POST" name="cform" enctype="multipart/form-data">
		<table cellspacing="0" cellpadding="0">
		{% if current_user.is_authenticated and current_user.access == 2 %}
		<tr><td><b>Загрузить другой файл показателей для подсчёта ПРНД:</b></td><td>{{ cform.defs }}</td></tr> 	
		{% endif %}
		<tr><td colspan=2><b>Формула для подсчёта ПРНД:</b><br>
	    ПРНД = 
	    {% if current_user.is_authenticated and current_user.access == 2 %}
	    {{ cform.prnd(class_="long") }}
	    {% else %}
	    {{ cform.prnd(class_="long", disabled=True) }}	
	    {% endif %}
	    <button class="button" style="margin-left:10px" type="submit">Submit</button></td></tr>
	    </table>
    </form>
<table cellspacing="0" cellpadding="0" class="display dataTable" style="width:100%" id="rating">
  <thead>
	<tr style="font-weight: bold;">
		<th>&nbsp;&nbsp;</th>
		<th>Показатель</th>
		<th width="100">Единица измерения</th>
		<th>Комментарий</th>
		<th width="100">Код для подсчёта</th>
	</tr>
  </thead>
  <tbody>	
{% for entry in item %}
	<tr class="gradeC">
		<td>{{ loop.index }}</td>
		<td>{{ entry.name }}</td>
		<td>{{ entry.unit }}</td>
		<td>{{ entry.description }}</td>
		<td>{{ entry.code }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>
</div>   
<div style="margin:5px 40px 10px 40px;">
{% include 'order.html' %}
</div>
{% endblock %}

