<div>
<div align="right">
МИНИСТЕРСТВО ОБРАЗОВАНИЯ И НАУКИ РОССИЙСКОЙ ФЕДЕРАЦИИ
<br>
ВЫПИСКА из ПРИКАЗА<br>
от 27 мая 2015 г. N 538
</div>
<h2>
ОБ УТВЕРЖДЕНИИ ПОРЯДКА ПРОВЕДЕНИЯ АТТЕСТАЦИИ РАБОТНИКОВ, ЗАНИМАЮЩИХ ДОЛЖНОСТИ НАУЧНЫХ РАБОТНИКОВ
</h2>
В целях проведения аттестации организация ведет информационную базу, порядок ведения которой и состав содержащихся в ней сведений определяются организацией самостоятельно с учетом требований законодательства Российской Федерации о защите персональных данных и законодательства Российской Федерации о государственной и иной охраняемой законом тайне.
<p>
Сведения о результатах вносятся в информационную базу уполномоченным работником организации и (или) непосредственно самим работником по мере необходимости, в том числе при получении новых результатов.
<p>
Сведения о результатах могут быть получены организацией из государственных информационных и других систем с учетом требований законодательства Российской Федерации о защите персональных данных и законодательства Российской Федерации о государственной и иной охраняемой законом тайне.
<p>
В целях контроля полноты и достоверности сведений о результатах, содержащиеся в информационной базе, указанные сведения должны быть открыты и доступны работнику.
<p>
Проверку полноты и достоверности сведений, содержащихся в информационной базе, осуществляет сам работник, который при обнаружении неактуальных сведений о себе вправе обратиться в организацию с просьбой об устранении неточностей и (или) внести изменения самостоятельно. Указанную проверку, а при необходимости корректировку сведений, содержащихся в информационной базе, работник обеспечивает в течение 20 календарных дней со дня оповещения его о проведении аттестации.
</div>